<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Web Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<nav>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['punto_A']" routerLinkActive="router-link-active" >Punto 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['punto_B']" routerLinkActive="router-link-active" >Punto 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['punto_D']" routerLinkActive="router-link-active" >Punto 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['punto_C']" routerLinkActive="router-link-active" >Punto 4</a>
      </li>
    </ul>
    
  </div>
</nav>

